services:
  app:
    container_name: mpt_tool
    build:
      context: .
      dockerfile: prod.Dockerfile
    working_dir: /mpt_tool
    volumes:
      - .:/mpt_tool

  app_test:
    container_name: mpt_tool_test
    build:
      context: .
      dockerfile: dev.Dockerfile
    working_dir: /mpt_tool
    command: bash -c "ruff format --check . && ruff check . && flake8 . && mypy . && uv lock --check && pytest"
    volumes:
      - .:/mpt_tool


  format:
    container_name: mpt_tool_format
    build:
      context: .
      dockerfile: dev.Dockerfile
    working_dir: /mpt_tool
    command: bash -c "ruff check --select I --fix . && ruff format ."
    volumes:
      - .:/mpt_tool
